/* Base */

html,body{
background: #F9E9FF;
}

.modal .modal-dialog .modal-content{
background: #F9E9FF;

}

.modal .modal-dialog .modal-content *{
border-color: transparent;
}

.modal .modal-dialog .modal-content button{
border-color: #93A98F;
}

.modal .modal-dialog .modal-content .modal-header{
background-color: #15234B;
border-color: #242927;
color: #FFF;
}

.modal .close{
color: #FFF;
}




.navbar-inverse{
background-color: #15234B;
border-color: #242927;
}

.navbar-inverse a{
color: #FFF !important;
}

.navbar-inverse a:hover{
color: #F7E1FF !important;
}

#container{
background: #F9E9FF;
}

.clickdevart{
background: linear-gradient(#DAF087, #B2E140);
border: 1px solid #93A98F;
color: #333;
text-shadow: 0px 1px 1px #E1F3AF;
}

.clickdevart:hover{
background: linear-gradient(#E6F788, #C0EC30);
}

.clickdevart:active{
background: linear-gradient(#92C01F, #BBD167);
}

.clickdevart2{
border: 0px solid transparent;
background-color: #5FAC75;
color: #FFF;
}

.clickdevart2:hover{
background-color: #4F8F61;
}

.clickdevart2:active{
background-color: #396947;
}

.clickdevart2:focus{outline: none;}


::selection {
background-color: #212c24 !important;
color: #FFF !important;
}
 
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 2px rgba(53,0,0,0.0); 
background-color: #5C4759;
}
 
::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
background-color: #9D8CA6;
}

::-webkit-scrollbar-thumb:hover {
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1);
background-color: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:active {
background-color: rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
}


#folders::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 2px rgba(53,0,0,0.0); 
background-color: transparent !important;
}




/* Scroll Up */

#scrollup:before{
background-color: #15234B;
}
#scrollup:before, #scrollup{
color: #FFF;
}

#scrollup:hover:before{
background-color: #1a1a1a !important;
}
#scrollup:active:before{
background-color: #0d0d0d !important;
}



















/* Image Preview */



#imgpreview[class="backchhangepx"]{
background-color: rgba(255, 255, 255, 0.7) !important;
}

#imgpreview .invertimagepx, #imgpreview #backchangecolor[class*="backchhangepx"]{
color: #9b9b9b !important;
background-color: transparent !important;
}

#imgpreview .invertimagepx:hover, #imgpreview #backchangecolor[class*="backchhangepx"]:hover{
color: #DDD !important;
}

#imgpreview .invertimagepx:active, #imgpreview #backchangecolor[class*="backchhangepx"]:active{
color: #FFF !important;
}

#nextimageclickpx, #previousimageclickpx, #imginvertclick, #backchangecolor, #clickclosepagepxk{
color: #FFF;
cursor: pointer;
position: fixed;
transition: color 0.15s;
}

#imginvertclick{
left: 15px;
top: 15px;
font-size: 25pt;
}

#nextimageclickpx, #previousimageclickpx{
top: 93%;
font-size: 29pt;
}

#nextimageclickpx, #nextimageclickpx:before{
right: 0px;
margin-right: 15px;
}

#previousimageclickpx, #previousimageclickpx:before{
left: 0px;
margin-left: 7px;
}

.limitpagepx{
color: #f2a01d !important;
}

.limitpagepx:hover{
color: #c18017 !important;
}

.limitpagepx:active{
color: #915f0f !important;
}


.anticlick #nextimageclickpx,.anticlick #nextimageclickpx:before{
right: -16px !important;
}

#imginvertclick:hover, #nextimageclickpx:hover, #previousimageclickpx:hover, #backchangecolor:hover, #clickclosepagepxk:hover{
color: #B4B4B4;
}

#imginvertclick:active, #nextimageclickpx:active, #previousimageclickpx:active, #backchangecolor:active, #clickclosepagepxk:active{
color: #949494;
}


#backchangecolor{
left: 15px;
top: 55px;
}

#clickclosepagepxk{
right: 35px;
top: 15px;
}

.anticlick #clickclosepagepxk{
right: 19px !important;
}










#imgpreview[class*="backchhangepx"] .invertimagepx, #imgpreview #backchangecolor[class*="backchhangepx"]{
color: #9b9b9b !important;
}

#imgpreview[class*="backchhangepx"] .invertimagepx:hover, #imgpreview[class*="backchhangepx"] #backchangecolor[class*="backchhangepx"]:hover{
color: #bababa !important;
}

#imgpreview[class*="backchhangepx"] .invertimagepx:active, #imgpreview #backchangecolor[class*="backchhangepx"]:active{
color: #333 !important;
}

#imgpreview[class*="backchhangepx"] #nextimageclickpx, #imgpreview[class*="backchhangepx"] #previousimageclickpx, #imgpreview[class*="backchhangepx"] #imginvertclick, #imgpreview[class*="backchhangepx"] #backchangecolor, #imgpreview[class*="backchhangepx"] #clickclosepagepxk{
color: #333;
}

#imgpreview[class*="backchhangepx"] #nextimageclickpx:hover, #imgpreview[class*="backchhangepx"] #previousimageclickpx:hover, #imgpreview[class*="backchhangepx"] #imginvertclick:hover, #imgpreview[class*="backchhangepx"] #backchangecolor:hover, #imgpreview[class*="backchhangepx"] #clickclosepagepxk:hover{
color: #606060;
}

#imgpreview[class*="backchhangepx"] #nextimageclickpx:active, #imgpreview[class*="backchhangepx"] #previousimageclickpx:active, #imgpreview[class*="backchhangepx"] #imginvertclick:active, #imgpreview[class*="backchhangepx"] #backchangecolor:active, #imgpreview[class*="backchhangepx"] #clickclosepagepxk:active{
color: #878787;
}













.imagemodeps{
padding-right: 15px;
}

#imgpreview{
overflow-y: scroll;
text-align: center;
}

#imgpreview #conteudo{
text-align: center;
margin: 0 auto;
min-height: 100%;
background-color: #ededed;
padding: 5px;
}

#imgpreview #conteudo .title{
display: block;
padding: 25px;
font-size: 25pt;
color: #333;
background-color: #e2e2e2;
}


#imgpreview #conteudo .title:hover{
color: #000;
}

#imgpreview #conteudo .autor{
margin: 15px;
font-size: 15pt;
font-weight: normal;
}

#imgpreview #conteudo .capitulo{
display: block;
margin: 22px;
font-size: 14pt;
font-weight: normal;
}

#imgpreview #conteudo .capa{
max-width: 800px;
margin: 15px;
}

#ficoptions{
margin: 15px;
}

#capselect{
padding: 2px 30px;
font-weight: normal;
}

#capsubmit{
padding: 2px 30px;
font-weight: normal;
border: 1px solid rgba(0,0,0, 0.5);
background-color: #FFF;
margin: 0px 15px;
transition: border-color 0.15s;
}

#capsubmit:hover{
border: 1px solid rgba(0,0,0, 0.3);
}

#capsubmit:active{
border: 1px solid rgba(0,0,0, 0.7);
}

#openfic{
transition: color 0.15s;
cursor: pointer;
}

#openfic:hover{
color: #CDCDCD !important;
}

#openfic:active{
color: #C0BFC0 !important;
}




/* Folder List */

.homefolder a{
color: #333;
}

.homefolder a:hover{
color: #000;
}



[id^="iconopensubfolderpx"]:hover:before{
color: #000;
}

[id^="iconopensubfolderpx"]:active:before{
color: #222;
}




#folders{
background-color: #DFD4E3;
}

#folders a{
color: #43564e;
}

#folders a:hover{
color: #000;
}

#folders a:active{
color: #000;
}










/* Images */

#imagelist [id^="objfavit"]{
border-bottom: 1px solid rgba(51, 51, 51, 0.35);
margin: 0px 16px;
}

#imagelist [id^="objfavit"]:first-child{
border-top: 1px solid rgba(51, 51, 51, 0.35);
}

#imagelist [id^="objfavit"] #markseck{
margin: 0px 6px !important;
}

#imagelist [id^="objfavit"] .title a{
color: #333;
font-weight: bold;
}

#imagelist [id^="objfavit"] .title a:hover{
color: #006080;
font-weight: bold;
}

#imagelist [id^="objfavit"] .author{
margin-top: -11px;
font-size: 9pt;
color: #8C9A88;
}




#imagelist [id^="objfavit"]{
text-align: center;
padding: 13px;
transition: background-color 0.15s;
}



#removefavclick{
margin-left: -15px;
left: 6px;
float: left;
border: 1px solid #bfbfbf;
border-radius: 5px;
background: linear-gradient(-90deg, rgba(230, 230, 230, 0.8), rgba(204, 204, 204, 0.8));
}

[id^="objfavit"]:hover #removefavclick{
opacity: 1;
}

#removefavclick:hover{
background: linear-gradient(rgba(230, 230, 230, 0.8), rgba(140, 140, 140, 0.8));
}

#removefavclick:active{
background: linear-gradient(rgba(5, 5, 5, 0.8), rgba(5, 5, 5, 0.8));
color: #FFF;
}





.artmark{
background-color: #baccb3 !important;
}