
/*

 * SoundBook Plus
 * https://github.com/JackieApkon/Super-FavBook-Plus
 * By Jackie Apkon
 * License : MIT

*/

/* New Screen */

@media screen and (max-width: 920px) {
.checknav{display: none !important;}
}

@media screen and (max-width: 800px) {
#folders, #openimportbtx, #search, #loadnmbde, #loadnumber, .navbar-nav{display: none;}
#images{margin: 0px; width: 100%;}
}